* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: -apple-system sans-serif;
}

:root {
	--bg-color: #fff;
	--snd-bg-color: #d5fdf9;
	--text-color: #000;
	--main-color: #007f73;
	--trans_time_short: 0.4s;
	--trans_time_long: 0.6s;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

.in-link {
	color: var(--main-color);
	font-weight: 700;
	text-shadow: 0 0 1px #007f73;
}

.in-link:hover {
	text-decoration: underline;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

section {
	min-height: 100vh;
	padding: 10rem 9% 0rem;
}

/* Header section code */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 5% 1rem;
	background: var(--main-color);
	backdrop-filter: blur(10px);
	transition: all var(--trans_time_long) ease;
}

.logo {
	font-size: 3rem;
	color: var(--bg-color);
	font-weight: 700;
	cursor: pointer;
	transition: var(--trans_time_short) ease;
}

.logo:hover {
	transform: scale(1.1);
}

.navbar a {
	font-size: 1.9rem;
	color: var(--bg-color);
	margin-left: 3rem;
	font-weight: 700;
	transition: var(--trans_time_short) ease;
}

.navbar a:hover,
.navbar a:active {
	color: var(--text-color);
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--bg-color)
}

/* home section code */

.home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-img img {
	width: 25vw;
	border-radius: 25%;
	box-shadow: 0 0 25px var(--main-color);
	cursor: pointer;
	animation: floatImage 4s ease-in-out infinite;
	transition: var(--trans_time_long) ease;
}

.home-img img:hover {
	box-shadow: 0 0 25px var(--main-color),
				0 0 35px var(--main-color),
				0 0 45px var(--main-color);
}

@keyframes floatImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-2rem);
	}
	100% {
		transform: translateY(0);
	}
}

.home-content {
	margin-left: 5rem;
}

.home-content h3 {
	font-size: 3.5rem;
	font-weight: 700;
}

.home-content h3:nth-of-type(2) {
	font-size: 4rem;
	margin-bottom: 2rem;
}

.home-content h1 {
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.3;
}

.home-content p {
	font-size: 1.5rem;
}

span {
	color: var(--main-color);
}

/* About me code */

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	background: var(--snd-bg-color);
}

.about-heading {
	font-size: 6rem;
}

.general-intro {
	font-size: large;
	margin-top: 1rem;
}

.philo-heading {
	font-size: 4rem;
	padding-bottom: 2rem;
	color: var(--main-color);
}

.philo-content h3 {
	font-size: 2rem;
	padding-bottom: 1rem;
}

.philo-content p {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}